
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.ui.primary.button {
  background-color: #6c63ff !important; 
  /* border: #6c63ff !important;  */
}

.ui.basic.primary.button, .ui.basic.primary.buttons .button {
  box-shadow: 0 0 0 1px #6c63ff inset !important;
}

.ui.progress .bar {
  background-color: #6c63ff !important; 
}